<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Yusif\Documents\NetBeansProjects\KrediO\dist\KrediO.jar</jar>
  <outfile>C:\Users\Yusif\Documents\NetBeansProjects\KrediO\dist\kredio.exe</outfile>
  <errTitle>My awesome program needs Java.Please install  Java.</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Yusif\OneDrive\Desktop\appicon.ico</icon>
  <singleInstance>
    <mutexName>Kredio</mutexName>
    <windowTitle>Kredio</windowTitle>
  </singleInstance>
  <jre>
    <path>jre</path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>jdkOnly</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Kredio loan and mortgage calculator</fileDescription>
    <copyright>Kredio</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>Kredio</productName>
    <companyName>Kredio Inc</companyName>
    <internalName>kredio</internalName>
    <originalFilename>kredio.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>